@model HastaneOtomasyonu.EntityLayer.Models.Entity.Muayane

@{
    ViewData["Title"] = "TeshisDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>TeshisDetay</h1>
<br/>

<textarea id="w3review" name="w3review" rows="4" cols="50">@Model.Teshis</textarea>
<br>
<input type="submit" value="Submit">