@using HastaneOtomasyonu.EntityLayer.Models.Entity
@model List<Poliklinik>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="table-responsive">
    <table class="table">
        <caption>List of Poliklinik</caption>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Poliklinik Adı</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var c in Model)
            {
                <tr>
                    <th scope="row">@c.PoliklinikID</th>
                    <td>@c.PoliklinikAdı</td>
                    <td><a href="/Klinikler/Index/@c.PoliklinikID" class="btn btn-primary">Seç</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/Home/PolinikEkle" class="btn btn-info">Ekle</a>
</div>